{% extends 'core/base.html'%}

{% block title %} About Us {% endblock title%}

{% block content%}
<div class="container">
    <h1 class="text-danger mt-5 mb-5 "> WELCOME TO CODINNG COURSE ACADEMY </h1>


<p> We're coding institute located in New Baneshwor,Kathmandu, Near New Baneshwor suspension bridge opposite to DuckYard Restaurant. </p>
<p> We offer varities of courses in our institutions. </p>
<p>It is established to solve the real student problem mainly that arrises in IT carrer. </p>
<p>It provides quality in way that Software Company uses the knowledge while developing the software. We provide Software training, Internship & Development to the student so, that they can have the knowledge of full SDLC. </p>
<p>After completion of training student will fell like a 2-3 years experienced developer. We are providing Leadership skill, lifetime support to student.</p>
<hr>
<p class="text-primary"> Contact Number : +977-9861743670 </p>
</div>
{% endblock content%}
